@font-face {
    font-family: FiraCode;
    src: url("../font/FiraCode-Regular.ttf");
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: FiraCode;
    font-size: 20pt;
    /*background-color: #121212;*/
    background: var(--body-bg);
    padding: 20px;
    margin: 0;
}

h1 {
    font-size: 15pt;
    color: white;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}

h1 span {
    border: 8px solid #666666;
    border-radius: 8px;
    background-image: url("https://p.favim.com/orig/2018/09/02/universe-gif-trippy-Favim.com-6279772.gif");
    padding: 12px;
}

p {
    padding: 0;
    margin: 0;
    color: var(--text-color);
}

a {
    text-decoration: none;
    outline: none;
}

a:link,
a:visited,
a:hover,
a:active {
    color: darkslateblue;
    text-decoration: none;
}

li {
    margin-bottom: 15px;
    font-weight: bold;
    color: (--text-color);
}

progress {
    width: 70%;
    height: 20px;
    color: #3fb6b2;
    background: #efefef;
}

progress::-webkit-progress-bar {
    background: #efefef;
}

progress::-webkit-progress-value {
    background: #3fb6b2;
}

progress::-moz-progress-bar {
    color: #3fb6b2;
    background: #3fb6b2;
}

hr {
    border: 0;
    height: 1px;
    background: #f36f48;
}

input {
    text-align: center;
    font-size: 25pt;
    border: none;
    border-radius: 12px;
    padding: 30px 8%;
    margin: 20px 5px 10px 5px;
    background-color: #d7d7d7;
}

input:focus {
    background-color: (--body-bg);
    color: (--text-color);
}

#header {
    background-image: url("https://p.favim.com/orig/2018/09/02/universe-gif-trippy-Favim.com-6279772.gif");
    background-size: cover;
}

#header img {
    display: block;
    width: 500px;
    height: 500px;
    margin: auto;
}

#header p {
    font-size: 60pt;
    color: (--text-color);
    padding-top: 8px;
    margin: 0;
    font-weight: bold;
    text-align: center;
    color: white;
}

#contacts img {
    height: 100px;
    width: 100px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: (--text-color);
}

#contacts a {
    text-decoration: none;
}

#contacts img:hover {
    opacity: 0.8;
}

#contacts {
    text-align: center;
}

.section {
    background-color: (--body-bg);
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}


/* Dark Theme (BETA) */

@media(prefers-color-scheme: light) {
    body {
        background: #FFF;
        color: #121212;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: #121212;
        color: #FFF;
    }
}